.React-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.appear-animation-show {
  padding-top: 3rem;
  animation: Appear-show 3s ease-out;
}

.appear-animation-hide {
  animation: Appear-hide 3s ease-out;
}

@keyframes Appear-show {
  from {
    padding-top: 3rem;
    opacity: 0;
  }
  to {
    padding-top: 0rem;
    opacity: 1;
  }
}

@keyframes Appear-hide {
  from {
    padding-top: 0rem;
    opacity: 1;
  }
  to {
    padding-top: 3rem;
    opacity: 0;
  }
}